.wrapper {
    display: flex;
    justify-content: center;
  }
  .content {
    text-align: center;
    width: 350px;
    background-color: #2d2d36;
    border-radius: 13px;
    overflow: hidden;
    padding: 0px;
  }
  .display {
    width: 100%;
    height: 150px;
    text-align: right;
  }
  .but1 {
    width: 18.5%;
    border: 1px solid black;
    float: left;
    color: #fff;
    background-color: #424249;
  }
  .but2 {
    width: 67px;
    border: 1px solid black;
    float: left;
    color: #fff;
    background-color: #fe9f0b;
  }
  .but3 {
    border: 1px solid black;
    width: 18.5%;
    float: left;
    color: #fff;
    background-color: #5f5f67;
  }
  .zero {
    width: 151.5px;
    float: left;
    border: 1px solid black;
    color: #fff;
    background-color: #5f5f67;
  }
  div {
    padding: 10px;
    font-size: 33px;
  }
  .row {
    padding: 0px;
  }
  .disp_cal{
    color: #fff;
font-size: 75px;
padding-right: 17px;
text-align: right;
  }
  .display .disp_cal{
text-align: right;
margin-top: 76px;
font-weight: 400;
display: block;
  } 
  .end{
      border-bottom-right-radius: 12px;
  }